mat-card {
  max-width: 370px;
  margin: 0em auto;
  text-align: center;
  min-height: 400px;
  margin-top: 3rem;
  }
  
  
  .header{
    text-align: center;
    
  }

  img
  {
    width: 45%;
    margin: 1.25rem;
  }

  h1
  {
    font-size: 2.25rem;
    font-weight: 300;
  }
  .full-width {
    width: 80%;
  }
  
  .button-style{
    width:82%;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    display: block;
    color: #000000;
    margin-left: auto;
    margin-right: 0;
    height: 40px;
    width: 190px;
    text-decoration: none;
  }
  